<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>张三1</string>
		<key>phone</key>
		<string>10000</string>
	</dict>
    
    <dict>
        <key>name</key>
        <string>张三2</string>
        <key>phone</key>
        <string>10001</string>
    </dict>
    
    <dict>
        <key>name</key>
        <string>张三3</string>
        <key>phone</key>
        <string>10002</string>
    </dict>
    
    <dict>
        <key>name</key>
        <string>张三4</string>
        <key>phone</key>
        <string>10003</string>
    </dict>
    
    <dict>
        <key>name</key>
        <string>张三5</string>
        <key>phone</key>
        <string>10004</string>
    </dict>
    
    <dict>
        <key>name</key>
        <string>张三6</string>
        <key>phone</key>
        <string>10005</string>
    </dict>
    
    <dict>
        <key>name</key>
        <string>张三7</string>
        <key>phone</key>
        <string>10006</string>
    </dict>
    
    <dict>
        <key>name</key>
        <string>张三8</string>
        <key>phone</key>
        <string>10007</string>
    </dict>
    
    <dict>
        <key>name</key>
        <string>张三9</string>
        <key>phone</key>
        <string>10008</string>
    </dict>
    
    <dict>
        <key>name</key>
        <string>张三10</string>
        <key>phone</key>
        <string>10009</string>
    </dict>
    
    <dict>
        <key>name</key>
        <string>张三11</string>
        <key>phone</key>
        <string>10010</string>
    </dict>
    
    <dict>
        <key>name</key>
        <string>张三12</string>
        <key>phone</key>
        <string>10011</string>
    </dict>
    
    <dict>
        <key>name</key>
        <string>张三13</string>
        <key>phone</key>
        <string>10012</string>
    </dict>
    
    <dict>
        <key>name</key>
        <string>张三14</string>
        <key>phone</key>
        <string>10013</string>
    </dict>
    
    <dict>
        <key>name</key>
        <string>张三15</string>
        <key>phone</key>
        <string>10014</string>
    </dict>
</array>
</plist>
